.info{
    max-width: 60%;
    margin-left: 10%;
    margin-top: 200px;
    .info-text a{
        text-decoration: none;
        color: $main-text-color;
    }
    .year-box{
        display: inline-block;
        color: white;
        background-color: $main-bg-color;
        padding: 10px;
        animation: yearBoxAnimation 0.5s;
    }
}
@keyframes yearBoxAnimation{
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}